header {
    background-color: #35424a;
    color: #ffffff;


    div{
        display:flex;
        justify-content: center;
        font-weight: 800;
        font-size: 22px;
        align-items: center;
        padding: 3px;
    }

    img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

}   

 nav{
    background-color: #35424a;
    padding: 3px;

        div{
        display: flex;
        justify-content: center;

        a{
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 600;
            font-size: 20px;
            color:white;
            text-decoration: none;
        }
        }

    }

    h2{
        text-align: center;
        font-weight: 700;
        font-size: 30px;
    }

    body{
        background-color:beige;
    }

    .content{
        height: 200px;
        width: 600px;
        background-color: #ffffff;
        margin-left: 40px;
        padding: 20px;
        border-radius: 30px;
    }

    footer{
        text-align: center;
        padding: 10px 0;
        background: #35424a;
        color: #ffffff;
        position: absolute;
        bottom: 0;
        width: 100%;
    }